.MyModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: #00000060;
}

.ModalDiv {
  padding: 20px;
  padding-top: 0;
  width: 500px;
  min-height: 400px;
  height: 600px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 25px #000000d1;
}
.MyModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CloseBtn {
  margin: auto 0 auto auto;
  margin-bottom: 20px;
  font-size: 30px;
  padding: 0 12px 0 12px;
  border: 0;
  border-radius: 100%;
  background: transparent;
}

@media screen and (max-width: 1024px) {
  .ModalDiv {
    padding-top: 20px;
  }
}

@media screen and (max-width: 460px) {
  .ModalDiv {
    width: 100vh;
    min-height: 400px;
    height: 80vh;
    border-radius: 15px;
  }
}

@media screen and (max-width: 376px) {
  .ModalDiv {
    width: 100vh;
    min-height: 400px;
    height: 90vh;
  }
}
