.MyModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000060;
}

.ModalDiv {
  padding: 20px;
  padding-top: 0;
  width: 700px;
  min-height: 400px;
  max-height: 100vh;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 25px #000000d1;
  overflow-y: scroll;
}

.CloseBtn {
  margin: auto 0 auto auto;
  margin-bottom: 20px;
  font-size: 30px;
  padding: 0 12px 0 12px;
  border: 0;
  border-radius: 100%;
  background: transparent;
}

@media screen and (max-width: 1024px) {
  .ModalDiv {
    overflow-y: scroll;
    width: 500px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .MyModal {
    background: #000000dc;
  }
  .ModalDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100%;
  }
}

@media screen and (max-width: 460px) {
  .ModalDiv {
    width: 100vw;
    min-height: 80vh;
    border-radius: 15px;
  }
}

@media screen and (max-width: 376px) {
  .ModalDiv {
    width: 100vw;
    overflow-y: scroll;
    min-height: 100vh;
  }
}
