/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

body {
  background: url(../public/Imgs/maxresdefault.jpg) no-repeat center top;
  background-size: cover;
  position: relative;
}

.flaversFont {
  font-family: 'Send Flowers', cursive;
}

.container {
  min-height: 100vh;
  max-width: 1100px !important;
}
.container h1 {
  font-size: 70px;
  color: #612C8A;
  font-family: 'Bubblegum Sans', cursive;
  text-shadow: 0 0 10px #fff;
}

.container .row {
  border-radius: 15px;
  transition: all .3s;
}

.container .row .col-4 div {
  font-size: 75px;
  font-family: 'Bubblegum Sans', cursive;
  cursor: pointer;
  transition: all .4s;
  border: 2px solid;
  background-color: #ffffff95;
  border-radius: 6px;
}
.container .row .col-4 div:hover {
  transform:scale(1.2);
  box-shadow: 0 0 25px #0000ff61;
}

.container .row .col-4:first-child {
  color: blue;
}
.container .row .col-4:nth-child(2) {
  color: yellowgreen;
}
.container .row .col-4:nth-child(3) {
  color: #ED7816;
}
.container .row .col-4:nth-child(4) {
  color: red;
}
.container .row .col-4:nth-child(5) {
  color: #D60469;
}
.container .row .col-4:nth-child(6) {
  color: green;
}
.container .row .col-4:nth-child(7) {
  color: #0091ff;
}
.container .row .col-4:nth-child(8) {
  color: red;
}
.container .row .col-4:nth-child(9) {
  color: #8E1567;
}
.container .row .col-4:nth-child(10) {
  color: #0098E7;
}
.container .row .col-4:nth-child(11) {
  color: green;
}
.container .row .col-4:nth-child(12) {
  color: #DE006A;
}
.container .row .col-4:nth-child(13) {
  color: #35316C;
}
.container .row .col-4:nth-child(14) {
  color: #E4791D;
}
.container .row .col-4:nth-child(15) {
  color: blue;
}
.container .row .col-4:nth-child(16) {
  color: #DF0051;
}
.container .row .col-4:nth-child(17) {
  color: #FCBF0B;
}
.container .row .col-4:nth-child(18) {
  color: #bb4ba3;
}
.container .row .col-4:nth-child(19) {
  color: #DA0012;
}
.container .row .col-4:nth-child(20) {
  color: #96CB13;
}
.container .row .col-4:nth-child(21) {
  color: #CE0011;
}
.container .row .col-4:nth-child(22) {
  color: #90156C;
}
.container .row .col-4:nth-child(23) {
  color: #009139;
}
.container .row .col-4:nth-child(24) {
  color: #ED7816;
}
.container .row .col-4:nth-child(25) {
  color: #006CB7;
}
.container .row .col-4:nth-child(26) {
  color: #DE3C19;
}
.container .row .col-4:nth-child(27) {
  color: green;
}
.container .row .col-4:nth-child(28) {
  color: #DF0051;
}
.container .row .col-4:nth-child(29) {
  color: #2d0054;
}
.letters {
  display: flex;
  justify-content: space-between;
}
.ModalDiv-div {
  /* height: 340px; */
  margin-bottom: 0;
  padding-bottom: 0;
}
.ModalDiv-div img {
  height: 270px;
  max-width: 270px;
}
.row {
  padding-bottom: 0;
  margin-bottom: 0;
}
.modalParag {
  margin-top: 20px;
}

.modalParagText {
  font-size: 18px;
  margin-top: 0;
  color: rgb(255, 165, 62);
}
.modalParagText strong {
  color: rgb(219, 142, 0)
}
.modal-letter {
  font-size: 40px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1540px) {
  body {
    background: url(../public/Imgs/maxresdefault.jpg) no-repeat center top -40px;
    background-size: cover;
  }
  .container .row {
    margin-top: -20px;
  }
}
@media screen and (max-width: 1281px) {
  body {
    background: url(../public/Imgs/maxresdefault.jpg) no-repeat center top 0;
    background-size: cover;
  }
  .container .row {
    margin-top: 0;
  }
}
@media screen and (max-width: 1281px) {
  body {
    background: url(../public/Imgs/maxresdefault.jpg) no-repeat center top 0;
    background-size: cover;
  }
  .container h1 { 
    margin: 20px 0 20px 0;
  }
  .modalParag {
    margin-top: 30px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background: url(../public/Imgs/maxresdefault.jpg) no-repeat center top;
    background-size: cover;
  }
  .container {
    max-width: 900px !important;
  }
  .container h1 {
    font-size: 50px;
    margin: 0;
  }
  .container .row {
    margin-top: 0px;
    padding: 0 20px 0 20px;
  }
  .container .row .col-4 div {
    font-size: 58px;
  } 
  .modalParag {
    margin-top: 20px;
  }
}
@media screen and (max-width: 930px) {
  body {
    background: url(../public/Imgs/mobileBg.jpg) no-repeat center bottom;
    background-size: cover;
  }
  .container h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 560px) {
  body {
    background: url(../public/Imgs/mobileBg.jpg) no-repeat center bottom;
    background-size: cover;
  }
  .container .row {
    margin-top: 0px;
  }
  .container .row {
    margin-top: 0px;
    padding: 0 20px 150px 20px;
  }

}

@media screen and (max-width: 460px) {
  .container h1 {
    font-size: 35px;
    margin: 20px 0 20px 0;
    
  }
  .container .row {
    margin-top: 0px;
    padding: 0 20px 150px 20px;
  }
  .container .row .col-4 div {
    font-size: 45px;
  } 
  .ModalDiv-div {
    height: 270px;
    
  }
  .ModalDiv-div img {
    height: 230px;
  }
  
}

@media screen and (max-width: 376px) {
  .container h1 {
    font-size: 35px;
    margin: 20px 0 20px 0;
  }
  .container .row {
    margin-top: 0px;
  }
  .container .row .col-4 div {
    font-size: 45px;
  }
  .ModalDiv-div {
    height: 250px;
  }
  .ModalDiv-div img {
    height: 200px;
  }
  .modalParag {
    margin-top: 10px;
  }
}

@media screen and (max-width: 300px) {
  .container h1 {
    font-size: 28px;
    margin: 20px 0 20px 0;
  }
  .container .row .col-4 div {
    font-size: 30px;
  }
}